*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1C1C1C;
}
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
#logo{
    color: rgb(209, 2, 2);
    font-weight: 900;
    font-size: 40px;
    margin-left: 3rem;
}
#menu-inicial{
    margin-right: 6rem;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    margin-right: 2rem;
}
a{
    text-decoration: none;
    color: #808080;
}
a:hover{
    color: #DCDCDC;
}
#principal{
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/capa-house.jpg");
    height: 400px;
    background-size: cover;
}
#titulo{
    padding-top: 5%;
    color: white;
    font-weight: 600;
    font-size: 35px;
    margin-left: 3rem;
}
#texto{
    width: 70%;
    margin-top: 1rem;
    color: white;
    margin-left: 3rem;
}
.botao{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    padding: 15px;
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: .1s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}